{% extends 'base.html.twig' %}
{% block body %}
	{% include 'Elements/top_bar.html.twig' %}
	
	<table>
		{% for conversation in conversations %}
        		<tr>
        			<td>title: {{ conversation.conv_title }}</td>
        			<td>sender: {{ conversation.msg_sender}}</td>
        		</tr>
    	{% endfor %}
	</table>
	{{ app.session.get('mail') }}
{% endblock %}
